.img_circle {
    width: 200px;
    height: 200px;
}

.contact__formulario{
    width: 70%;
    margin-top: 2rem;
}

.navbar__container_fluid {
    background-color: black;
}
.tagline__container {

    height: 800px;
    background-image: url("https://images.pexels.com/photos/462331/pexels-photo-462331.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    position: relative;
    margin-left: -1%;
}
.tagline__textcontainer {
    position: relative;
    top: 80px;
}
.tagline__text {
    text-align: center;
    background-color: white;
}



