<!-- your html code here -->
<div class="container">
    <h2>Contacto</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis similique aspernatur ipsum voluptatibus. Aspernatur, ducimus nostrum. Commodi, odio recusandae voluptas blanditiis aliquam porro natus pariatur, quod praesentium magnam maxime sed?</p>
    <form class="container">
        <div class="footer__formulario d-flex flex-column">
            <div class="row align-items-center pr-3">   
                <div class="col-3 pt-3">
                    <label for="email" class="form-label">Your email</label>
                </div>
                <div class="col-9">
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="yourMessage" class="form-label">Your message</label>
                </div>
                <div class="col-9">
                    <textarea name="yourMessage" id="yourMessage"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <button type="button" class="btn btn-primary float-rigth mb-3 p-3">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>