<!-- Second heading-->
<div class="container">
    <div class="services p-20 d-flex ">
        <div class="text_center">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.8dlnkAQOMQywuG3ZYKOpOQHaGp%26pid%3DApi&f=1"
                alt="imagen" class="img_circle rounded-circle m-4" />
        </div>

        <div class="heading_text ">
            <h3><b>The second Heading </b><span class="text-muted">is pretty cool also</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea
                commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla
                pariatur.</p>
        </div>
    </div>
    <hr style="color: grey;" /> <!-- Separador lineal-->
</div>